.tableWrap {
  width: 100%;
}

.toolBarWrap {
  display: flex;
  justify-content: space-between;
}

.pageButton {
  -webkit-text-decoration: none;
          text-decoration: none;
  font-size: 120%;
  font-weight: bold;
  color: #191919;
  padding-bottom: 1px;
  border:none;
  background: none;
  margin: 1rem;
}

.pageNum {
  margin-right: 1rem;
  margin-left: 1rem;
}

.tableWrap {
  width: 100%;
}
.spinnerWrap{
  margin-top: 10rem;
  margin-bottom: 15rem;
}

/* The following code is for the custom alert window */

.dialogoverlay {
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10;
  padding: 20px;
}

.dialogbox{
  display: none;
  z-index: 10;
  position: fixed;
  background: #e5e5e5;
  border-radius: 7px;
  width: 550px;
  padding: 20px;
}

.dialoghead {
  background:  #e5e5e5;
  font-size:19px;
  padding: 10px;
  color: black;
}

.dialogbody {
  background: #e5e5e5;
  padding: 20px;
  color: #3cB650;
}

.dialogfoot {
  background: #e5e5e5; 
  padding: 10px;
  text-align: right;
}

.alertbutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:30px;
  height: 2rem;
}
