.NavBar {
  height: 5rem;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box; 
}

.LoginWrapper {
  display: flex;
  justify-content: center;
}

.WelcomeText {
  display: inline-block;
  padding-top: 1rem;
}